
.deleteOverlay {
  position: relative;
  float: right;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 15px;
  text-align: center;
  display: none;
}

li:hover .deleteOverlay {
  display: block;
}

.hide {display: none !important;}
/****************************************************/
/* Main styles */
/****************************************************/
#main {
  max-width: 1000px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 0.97778rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
}
#live-preview {
  border: 1px solid #CDCDCD;
  width: 100%;
  display: inline-block;
}
.left  { float: left;  }
.right { float: right; }
.clear { clear: both;  }
.text-center { text-align: center; }

/****************************************************/
/* Header */
/****************************************************/
header img {
  height: 54px;
  width: 54px;
  vertical-align: middle;
  margin-right: 15px;
}
header h1 {
  border-bottom: 1px solid #DDD;
  padding-bottom: 15px;
  clear: both;
}
/****************************************************/
/* Footer */
/****************************************************/
footer { margin-top: 20px; margin-bottom: 20px; line-height: 1.2rem; }

/****************************************************/
/* Buttons */
/****************************************************/
.button {
  border-radius: 3px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
  font-weight: bold;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 0.88889rem;
  margin: 0 0.5rem 1.11111rem 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  display: inline-block;
  transition: background-color 300ms ease-out;
  line-height: normal;
  border-style: solid;
  border-width: 0;
  position: relative;
}
.button:hover, .button:focus {
  background-color: #007095;
  color: #FFFFFF;
}
.disabled.button:hover, .disabled.button:focus, [disabled].button:hover, [disabled].button:focus { background-color: #008CBA; }
.disabled.button, [disabled].button {
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.4;
}


/* Button Alert */
/****************************************************/
.deleteOverlay.alert { background-color: #f04124; border-color: #cf2a0e; color: #FFFFFF; }
.deleteOverlay.alert:hover, .deleteOverlay.alert:focus { background-color: #cf2a0e; }
.deleteOverlay.disabled.alert:hover, .deleteOverlay.disabled.alert:focus, .deleteOverlay[disabled].alert:hover, .deleteOverlay[disabled].alert:focus { background-color: #f04124; }
.deleteOverlay.disabled.alert, .deleteOverlay[disabled].alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.4;
}

/* Button Success */
/****************************************************/
.button.success { background-color: #43AC6A; border-color: #368a55; color: #FFFFFF; }
.button.success:hover, .button.success:focus { background-color: #368a55; }

/****************************************************/
/* Overlay Management */
/****************************************************/

/* Overlay Index */
/****************************************************/
.index {
  width: 30%;
  display: inline-table;
  margin-right: 3%;
  top: 0;
}
.index ul { padding-left: 0; margin-top: 0; }
.index li {
  border: 1px solid #CCC;
  border-bottom: 0;
  width: 90%;
  background-color: #F6F6F6;
  color: #333333;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  padding: 0.83333rem 1.11111rem;
  list-style-type: none;
  cursor:pointer;
}
.index li:last-child                         { border-bottom: 1px solid #CCC; }
.index li:nth-child(even)                    { background-color: #ffffff; }
.index li.selected, .index li.selected:hover { background-color: #008CBA; border-color: #008CBA; color: white; cursor:default; }
.index li:hover                              { background-color: #D6D6D6; }

/* Overlay Forms */
/****************************************************/
.edit { width: 65%;display: inline-table; }
.edit button, .edit input, .edit label { display: block; }
.edit input[type=text], .edit textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.77778rem;
  height: 2.05556rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}
.edit textarea { height: 15em; min-height: 50px; font-family: monospace; font-size: 14px;}
input[type=text]:focus, textarea:focus { outline: none; border: 1px solid #777;}

/****************************************************/
/* Error styles */
/****************************************************/
input.error, textarea.error {
  border: 1px solid #f04124 !important;
}
label.error {
  color: #f04124 !important;
}

/****************************************************/
/* Mobile styles */
/****************************************************/
@media only screen and (max-width: 40em) {
  .index, .edit, .button {
    margin-right: 0;
    width: 100%;
  }
}

/****************************************************/
/* Confirm styles */
/****************************************************/
/* The shield that overlays the background. */
.overlay {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  /* TODO(dbeam): remove perspective when http://crbug.com/374970 is fixed. */
  -webkit-perspective: 1px;
  -webkit-transition: 200ms opacity;
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  display: -webkit-box;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
}

/* Used to slide in the overlay. */
.overlay.transparent .page {
  /* TODO(flackr): Add perspective(500px) rotateX(5deg) when accelerated
   * compositing is enabled on chrome:// pages. See http://crbug.com/116800. */
  -webkit-transform: scale(0.99) translateY(-20px);
}

/* The foreground dialog. */
.overlay .page {
  -webkit-border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-transition: 200ms -webkit-transform;
  background: white;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  color: #333;
  display: -webkit-box;
  min-width: 400px;
  padding: 0;
  position: relative;
  z-index: 0;
}

/* If the options page is loading don't do the transition. */
.loading .overlay,
.loading .overlay .page {
  -webkit-transition-duration: 0ms !important;
}

/* keyframes used to pulse the overlay */
@-webkit-keyframes pulse {
 0% {
   -webkit-transform: scale(1);
 }
 40% {
   -webkit-transform: scale(1.02);
  }
 60% {
   -webkit-transform: scale(1.02);
  }
 100% {
   -webkit-transform: scale(1);
 }
}

.overlay .page.pulse {
  -webkit-animation-duration: 180ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
}

.overlay .page > .close-button {
  background-image: -webkit-image-set(url(chrome://theme/IDR_CLOSE_DIALOG) 1x, url(chrome://theme/IDR_CLOSE_DIALOG@2x) 2x);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

html[dir='rtl'] .overlay .page > .close-button {
  left: 10px;
  right: auto;
}

.overlay .page > .close-button:hover {
  background-image: -webkit-image-set(url(chrome://theme/IDR_CLOSE_DIALOG_H) 1x, url(chrome://theme/IDR_CLOSE_DIALOG_H@2x) 2x);
}

.overlay .page > .close-button:active {
  background-image: -webkit-image-set(url(chrome://theme/IDR_CLOSE_DIALOG_P) 1x, url(chrome://theme/IDR_CLOSE_DIALOG_P@2x) 2x);
}

.overlay .page h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  color: #333;
  /* 120% of the body's font-size of 84% is 16px. This will keep the relative
   * size between the body and these titles consistent. */
  font-size: 120%;
  /* TODO(flackr): Pages like sync-setup and delete user collapse the margin
   * above the top of the page. Use padding instead to make sure that the
   * headers of these pages have the correct spacing, but this should not be
   * necessary. See http://crbug.com/119029. */
  margin: 0;
  padding: 14px 17px 14px;
  text-shadow: white 0 1px 2px;
}

.overlay .page .content-area {
  -webkit-box-flex: 1;
  overflow: auto;
  padding: 6px 17px 6px;
  position: relative;
}

.overlay .page .action-area {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
  padding: 14px 17px;
}

html[dir='rtl'] .overlay .page .action-area {
  left: 0;
}

.overlay .page .action-area-right {
  display: -webkit-box;
}

.overlay .page .button-strip {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

.overlay .page .button-strip > :-webkit-any(button,
                                            input[type='button'],
                                            input[type='submit']) {
  -webkit-margin-start: 10px;
  display: block;
}

.overlay .page .button-strip > .default-button:not(:focus) {
  border-color: rgba(0, 0, 0, 0.5);
}

.overlay .page .spacer-div {
  -webkit-box-flex: 1;
}

/* On OSX 10.7, hidden scrollbars may prevent the user from realizing that the
 * overlay contains scrollable content. To resolve this, style the scrollbars on
 * OSX so they are always visible. See http://crbug.com/123010. */
.overlay .page .content-area::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
}

.overlay .page .content-area::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 8px;
}

.overlay .page .content-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.gray-bottom-bar {
  background-color: #f5f5f5;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-color: #e7e7e7;
  border-top-style: solid;
  border-width: 1px;
  color: #888;
  display: -webkit-box;
  padding: 14px 17px;
}

/* Prevent the page underneath the overlay from scrolling. */
.frozen {
  position: fixed;
}

#overlay-container-1 {
  z-index: 11;
}
#overlay-container-2 {
  z-index: 12;
}

.transparent {
  opacity: 0;
}

