.deleteOverlay {
  position: relative;
  float: right;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 15px;
  text-align: center;
  display: none;
  transition: background-color 300ms ease-out;
}

li:hover .deleteOverlay {
  display: block;
}

/****************************************************/
/* Main styles */
/****************************************************/
#main {
  max-width: 1000px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 0.97778rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
}
#live-preview {
  border: 1px solid #CDCDCD;
  width: 100%;
  display: inline-block;
}
.left  { float: left;  }
.right { float: right; }
.clear { clear: both;  }
.text-center { text-align: center; }

/****************************************************/
/* Header */
/****************************************************/
header img {
  height: 54px;
  width: 54px;
  vertical-align: middle;
  margin-right: 15px;
}
header h1 {
  border-bottom: 1px solid #DDD;
  padding-bottom: 15px;
  clear: both;
}
/****************************************************/
/* Footer */
/****************************************************/
footer { margin-top: 20px; margin-bottom: 20px; line-height: 1.2rem; }

/****************************************************/
/* Buttons */
/****************************************************/
.button {
  border-radius: 3px;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
  font-weight: bold;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 0.88889rem;
  margin: 0 0.5rem 1.11111rem 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  display: inline-block;
  transition: background-color 300ms ease-out;
  line-height: normal;
  border-style: solid;
  border-width: 0;
  position: relative;
}
.button:hover, .button:focus {
  background-color: #007095;
  color: #FFFFFF;
}
.disabled.button:hover, .disabled.button:focus, [disabled].button:hover, [disabled].button:focus { background-color: #008CBA; }
.disabled.button, [disabled].button {
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.4;
}

/* Alert */
/****************************************************/
.alert { background-color: #f04124; border-color: #cf2a0e; color: #FFFFFF; }
.alert:hover, .alert:focus { background-color: #cf2a0e; }

/* Success */
/****************************************************/
.success { background-color: #43AC6A; border-color: #368a55; color: #FFFFFF; }
.success:hover, .success:focus { background-color: #368a55; }

/****************************************************/
/* Overlay Management */
/****************************************************/

/* Overlay Index */
/****************************************************/
.index {
  width: 30%;
  display: inline-table;
  margin-right: 3%;
  top: 0;
}
.index ul { padding-left: 0; margin-top: 0; }
.index li {
  border: 1px solid #CCC;
  border-bottom: 0;
  width: 90%;
  background-color: #F6F6F6;
  color: #333333;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  padding: 0.83333rem 1.11111rem;
  list-style-type: none;
  cursor:pointer;
}
.index li:last-child                         { border-bottom: 1px solid #CCC; }
.index li:nth-child(even)                    { background-color: #ffffff; }
.index li.selected, .index li.selected:hover { background-color: #008CBA; border-color: #008CBA; color: white; cursor:default; }
.index li:hover                              { background-color: #D6D6D6; }

/* Overlay Forms */
/****************************************************/
.edit { width: 65%;display: inline-table; }
.edit button, .edit input, .edit label { display: block; }
.edit input[type=text], .edit textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.77778rem;
  height: 2.05556rem;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear;
}
.edit textarea { height: 15em; min-height: 50px; font-family: monospace; font-size: 14px;}
input[type=text]:focus, textarea:focus { outline: none; border: 1px solid #777;}

/****************************************************/
/* Error styles */
/****************************************************/
input.error, textarea.error {
  border: 1px solid #f04124 !important;
}
label.error {
  color: #f04124 !important;
}

/****************************************************/
/* Mobile styles */
/****************************************************/
@media only screen and (max-width: 40em) {
  .index, .edit, .button {
    margin-right: 0;
    width: 100%;
  }
}

/****************************************************/
/* Confirm styles */
/****************************************************/
.overlay {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-perspective: 1px;
  -webkit-transition: 200ms opacity;
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  display: -webkit-box;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
}

.overlay .page {
  -webkit-border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-transition: 200ms -webkit-transform;
  background: white;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  color: #333;
  display: -webkit-box;
  min-width: 400px;
  padding: 0;
  position: relative;
  z-index: 0;
}

.overlay .page > .close-button {
  height: 14px;
  position: absolute;
  right: 20px;
  top: 0px;
  width: 14px;
  z-index: 1;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 32px;
  transition: color 300ms ease-in-out;
}
.overlay .page > .close-button:hover {
  color: #AAA;
}

.overlay .page h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  color: #333;
  margin: 0;
  padding: 14px 17px 14px;
  text-shadow: white 0 1px 2px;
}

.overlay .page .content-area {
  -webkit-box-flex: 1;
  overflow: auto;
  padding: 6px 17px 6px;
  position: relative;
}

.overlay .page .action-area {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
  padding: 14px 17px;
}

.overlay .page .button-strip {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

.fadeIn {
  animation: fadein 0.35s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hide {display: none !important;}
textarea, input, #live-preview { border-radius: 3px !important; }
li:first-child  { border-radius: 3px 3px 0px 0px !important; }
li:last-child   { border-radius: 0px 0px 3px 3px !important; }
